@page "{restaurantId:int?}"
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

@if (@Model.Restaurant.Id > 0) {
    <h2>Editing @Model.Restaurant.Name</h2>
}
else {
    <h2>Add a New Restaurant</h2>
}

<form method="post">
    <input type="hidden" asp-for="Restaurant.Id">
    <div class="mb-3">
        <label asp-for="Restaurant.Name" class="form-label"></label>
        <input asp-for="Restaurant.Name" class="form-control">
        <span class="text-danger" asp-validation-for="Restaurant.Name"></span>
    </div>
    <div class="mb-3">
            <label asp-for="Restaurant.Location" class="form-label"></label>
        <input asp-for="Restaurant.Location" class="form-control">
        <span class="text-danger" asp-validation-for="Restaurant.Location"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Restaurant.Cuisine"></label>
        <select class="form-control" asp-for="Restaurant.Cuisine"
                asp-items="Model.Cuisines">
        </select>
        <span class="text-danger" asp-validation-for="Restaurant.Cuisine"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

<div class="mt-5">
    <a asp-page="./Index" class="btn btn-secondary">See all restaurants</a>
</div>
